/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}*/

.round-btn {
  background-color: #f59e0b; /* mango orange */
  color: rgb(211, 127, 74);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 9999px; /* makes it pill / round */
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.round-btn:hover {
  background-color: #d97706; /* darker orange on hover */
  transform: scale(1.05);
}